<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="profile-container">
      <h2>User Profile</h2>
      <div class="profile-details">
        <p><strong>First Name:</strong> {{user.first_name}}</p>
        <p><strong>Last Name:</strong> {{user.last_name}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Age:</strong> {{user.age}}</p>
        <p><strong>Rol:</strong> {{user.role}}</p>
        <p><strong>Carrito:</strong> {{user.cart}}</p>
      </div>
    </div>
  </body>
</html>